@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex flex-col h-screen max-h-full dark:bg-slate-900 text-slate-500 dark:text-slate-400 font-sans dark:bg-none bg-gradient-to-tr from-blue-600 to-orange-100 bg-contain bg-no-repeat bg-fixed;
  }
}

@font-face {
  font-family: KFGQPC;
  src: url(/public/font/KFGQPC\ Uthman\ Taha\ Naskh\ Regular.ttf);
}

@layer components {
  .arabic1 {
    font-family: KFGQPC;
  }
}

@layer base {
  a:hover {
    color: rgb(48, 73, 212);
  }
}
